@model Students.Domain.Entities.User

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CI_RoleId" class="control-label"></label>
                <select asp-for="CI_RoleId" class ="form-control" asp-items="ViewBag.CI_RoleId"></select>
            </div>
            <div class="form-group">
                <h3 style="color:red"><strong>@TempData["Message"]</strong></h3>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

